.institution_logos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 14px;
}

.institution_logo_container {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.institution_logo {
  width: 48px;
  height: 48px;
  object-fit: contain;
}