.question_card {
  background-color: #F5F5F5;
  border-radius: 24px;
  padding: 18px;
  margin-bottom: 16px;
}

.question_user {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.question_user_image {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.question_user_name {
  font-size: 15px;
  font-weight: 500;
  font-family: "poppins";
  color: black;
}

.question_content {
  color: #717171;
  line-height: 1.5;
  font-size: 16px;
  font-family: "louis_george";
  font-weight: 600
}

.question_answer {
  margin-top: 12px;
  border-radius: 12px;
  background: #f5f5f5;
}

.question_answer_title {
  display: block;
  margin-bottom: 6px;
  color: black;
  font-family: "poppins";
  font-weight: 500;
}

.question_answer_content {
  margin: 0;
  color: #717171;
  font-family: "louis_george";
  font-weight: 600;
}