.publication_status {
  border-radius: 999px;
  text-transform: uppercase;
  width: fit-content;
  font-family: "lemonmilk";
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "lemonmilk";
  font-weight: 500;
}

/*PERDIDO*/
.publication_status_lost {
  background-color: #FF6F00;
  color: #B2540A;
}

/*ENCONTRADO*/
.publication_status_found {
  background-color: #FFC107;
  color: #B08A1E;
}

/*HOME*/
.publication_status_small {
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 400;
}

/*DETALLE*/
.publication_status_large {
  padding: 10px 22px;
  font-size: 14px;
  font-weight: 400;
}