.publication_detail {
  width: 100%;
  padding: 22px;
  box-sizing: border-box;
}

.publication_image_container {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
}

/* Imagen */
.publication_image {
  width: calc(100% + 44px);
  height: 430px;
  object-fit: cover;
  margin-left: -22px;
  margin-top: -22px;
  border-radius: 0;
  display: block;
}

/* Header interno */
.publication_header {
  position: absolute;
  left: 24px;
  right: 24px;
  bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

/* Título */
.publication_title {
  font-size: 40px;
  font-weight: 700;
  color: white;
  margin-top: 14px;
  font-family: "poppins";
  font-weight: 600;
}

/* Badge perdido */
.publication_status_lost {
  background-color: #FF6F00;
  color: white;
  padding: 10px 22px;
  border-radius: 24px;
  width: fit-content;
  font-size: 16px;
  font-weight: 400;
  font-family: "lemonmilk";
  text-transform: uppercase;
}

/* Badge encontrado */
.publication_status_found {
  background-color: #FFC107;
  color: black;
  padding: 10px 22px;
  border-radius: 24px;
  width: fit-content;
  font-size: 16px;
  font-weight: 400;
  font-family: "lemonmilk";
  text-transform: uppercase;
}

/* Share */
.publication_share_button {
  width: 54px;
  height: 54px;
  border: none;
  border-radius: 50%;
  background-color:rgba(255,255, 255, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #717171;
}

/* Bloques */
.publication_section {
  margin-bottom: 22px;
}

.publication_section_title {
  font-size: 20px;
  font-weight: 500;
  font-family: "lemonmilk";
  color: #717171;
  margin-bottom: 12px;

}

/* Caja gris */
.publication_box {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 0px;
  color: #717171;
  font-size: 17px;
  line-height: 1.6;
  font-family: "louis_george";
  font-weight: 600;
}