.publication_detail {
  width: 100%;
  padding: 22px;
  box-sizing: border-box;
}

.publication_image_container {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
}

.publication_image {
  width: calc(100% + 44px);
  height: 430px;
  object-fit: cover;
  margin-left: -22px;
  margin-top: -22px;
  border-radius: 0;
  display: block;
}

.publication_header {
  position: absolute;
  left: 24px;
  right: 24px;
  bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.publication_title {
  font-size: 35px;
  font-weight: 700;
  color: white;
  margin-top: 14px;
  font-family: "poppins";
  font-weight: 600;
}

.publication_share_button {
  width: 54px;
  height: 54px;
  border: none;
  border-radius: 50%;
  background-color:rgba(255,255, 255, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #717171;
}

.publication_section {
  margin-bottom: 22px;
}

.publication_section_title {
  font-size: 16px;
  font-weight: 500;
  font-family: "lemonmilk";
  color: #717171;
  margin-bottom: 12px;
  padding: 5px;
}

.publication_box {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 5px;
  color: #717171;
  font-size: 17px;
  line-height: 1.6;
  font-family: "louis_george";
  font-weight: 600;
}

.location_card {
  position: relative;
  overflow: hidden;
  border-radius: 24px;
  box-shadow: 0 8px 20px rgba(0,0,0,.12);
  margin-top: 16px;
}

.location_map {
  height: 260px;
  width: 100%;
}

.location_badge {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1000;
  background: white;
  padding: 10px 16px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 400;
  font-family: "lemonmilk";
  box-shadow: 0 4px 12px rgba(0,0,0,.15);
}